.vscode/
build/
/11/CMakeFiles/
/12/CMakeFiles/
/13/CMakeFiles/
/14/CMakeFiles/
/15/CMakeFiles/
/16/CMakeFiles/
/17/CMakeFiles/
/11/cmake_install.cmake
/12/cmake_install.cmake
/13/cmake_install.cmake
/14/cmake_install.cmake
/15/cmake_install.cmake
/16/cmake_install.cmake
/17/cmake_install.cmake
/11/Makefile
/12/Makefile
/13/Makefile
/14/Makefile
/15/Makefile
/16/Makefile
/17/Makefile
/Testing/
/.cmake/
/cmake-build-debug/
/CMakeFiles/
